.main
  .site-heading
    %h1 Mayordomo Virtual
    %hr.small
    %span.subheading Líderes en servicios de outsourcing empresarial

  %h1.text-center
    Comunícate sin costo alguno! 01800 4567 890

  %p.text-center Regístrate Aquí
